body {
  background: url('img/background.jpg');
  /*background: url('img/background2.jpg');*/
}

header img {
  padding-top: 20px;
  margin: auto;
  display: block;
}

#navbar {
  border-top: 30px;
  border-bottom: 30px;
  background: url('img/navbar.png');
  font-size: 2em;
  padding: 21px 0;
  text-align: center;
}

#navbar li {
  display: inline;
  vertical-align: relative;
  margin: 0 20px;
}

#navbar li a {
  color: black;
  padding: 5px 0;
  z-index: 1;
  border-style: solid;
  border-width: 2.5px;
  border-color: grey !important;
  text-decoration: none;
  padding: 2px 10px;
}

.btTxt {
  background: none;
}