body {
  background: url('img/background.jpg');
  /*background: url('img/background2.jpg');*/
}

header img {
  padding-top: 20px;
  margin: auto;
  display: block;
}

form {
  margin: auto;
  display: block;
  text-align: center;
}

input {
  margin-bottom: 0.5em;
  /*padding-bottom: 0.5em;*/
}

h1, h2 {
  text-align: center;
  padding: 0 30px;
}

h1 {
  font-size: 2.5em;
}

ul {
  list-style-type: none;
}

ul li a {
  font-size: 2em;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color:white;
  opacity:0.7;
}

ul li a:hover {
  opacity:1.0;
}

ol li a {
  font-size: 2em;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  /*color: #06171F;*/
  color: #07131F;
  opacity:0.85;
}

ol li a:hover {
  opacity:1.0;
}

ol {
  list-style-type: none;
}

#welcome {
  font-size: 3em;
}

#navbar {
  background: url('img/navbar.png');
  padding: 26px 0;
  text-align: center;
}

#navbar p {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

#navbar li {
  color: white;
  display: inline;
  vertical-align: relative;
  margin: 0 20px;
}

#navbar li a {
  padding: 5px 0;
  z-index: 1;
  border-style: solid;
  border-width: 2.5px;
  border-color: gray !important;
  text-decoration: none;
  padding: 2px 10px;
}

#displayGraph {
  background: url('img/navbar.png');
  font-size: 1.75em;
  margin: 0;
  padding: 0;
  text-align: center;
  color:white;
  opacity:0.7;
}

#displayGraph:hover {
  opacity:1.0;
}