<h1>Create a new survey:</h1>

<form action="/surveys" method="post">
  <ul>
	<li><input type="text" name="name" placeholder="Survey Name" size="48"></input></li>
	<li><textarea name="title" placeholder="Question Title" rows="4" cols="50"></textarea></li>
  <br>
  <input type="submit" value="Submit"></input>
  <ul/>
</form>