<ul id="navbar">
  <li>
    <a href="/">Home Page</a>
  <!--   <form id="Create New Survey" method="get" action="/">
    <input type="submit" value="Home Page" id="Home Page"/> -->
  </li>
  <li>
    <a href="/surveys">Take Survey</a>
    <!-- <input type="submit" value="Take Survey" id="Take Survey"> -->
  </li>
  <li>
    <a href="/surveys/new">Create Survey</a>
<!--     <form id="Create New Survey" method="get" action="/surveys/new">
    <input type="submit" value="Create Survey" id="Create New Survey"> -->
  </li>
  <li>
    <a href="/sessions/logout">Log Out</a>
  </li>
</ul>