<ul id="navbar">
  <li>
    <input type="submit" value="Home Page" class="btTxt" id="Home Page"/>
  </li>
  <li>
    <input type="submit" value="Take Survey" class="btTxt" id="Take Survey">
  </li>
  <li>
    <input type="submit" value="Create Survey" class="btTxt" id="Create Survey">
  </li>
  <li>
    <input type="submit" value="Log Out" class="btTxt" id="Log Out">
  </li>
</ul>
