<ul id="navbar">
  <li>
    <input type="submit" class="btTxt" value="Home Page" id="Home Page"/>
  </li>
  <li>
    <input type="submit" class="btTxt" value="Take Survey" id="Take Survey">
  </li>
  <li>
    <form id="Create New Survey" method="get" action="/surveys/new">
    <input type="submit" class="btTxt" value="Create Survey" id="Create New Survey" method="get" action="/surveys/new">
  </li>
  <li>
    <a href="/sessions/logout" class="btTxt">Log Out</a>
  </li>
</ul>