<h2>or</h2>
<h1>Create an Account</h1>

<form id="log_in" method="post" action="/users">
  <input type="text" name="user[name]" placeholder="name" >
  <br>

  <input type="email" name="user[email]" placeholder="email adddress" >
  <br>

  <input type="password" name="user[password]" placeholder="password">
  <br>

  <input type="submit" value="Create Account">
</form>